*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.clear{
  clear:both;
}
.center{
  max-width:1100px;
  margin:0 auto;
  padding:0 2%;
}

header{
  padding:30px 0;
  width:100%;
  .logo{
    float:left;
    img{
      max-width:100%;
    }
  }
  
  .menu{
    float:right;
      a{
        margin:0 13px;
        text-decoration:none;
        color:black;
        
          &.btn-cta{
            background:#30851d;
            color:white;
            padding:8px 25px;
            font-size:19px;
          }
      }
  }

}


