*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    height:100%;
}

.clear{
    clear:both;
}

/*//////////////////////  INICIO DO CABEÇALHO   //////////////////////*/

header .container{
    max-width:1200px;
    width:100%;
    margin:0 auto;
    padding:19px 4%;
}

header .logo img{
    float:left;
    width:236px;
    position:relative;
    top:10px;
}

header nav.mobile-menu{
    display:none;
    width:20%;
    height:18%;
    cursor:pointer;
    background-image:url('../image/mobile-menu.png');
    background-size:100% 100%;
    background-repeat:no-repeat; 
    float:right;
    margin-right:17px;
    z-index:4;
}

header nav.mobile-menu ul{
    position: absolute;
    left:0;
    top:150px;
    width:100%;
    background:white;
    border-bottom:3px solid #ccc;
    text-align:center;
    z-index:3;
}
/*
header nav.mobile-menu:hover ul{
    display: block;
}
*/
header nav.mobile-menu ul{
    display:none;
}

header nav.mobile-menu ul li{
    width:100%;
    border-bottom:3px solid #ccc;
    padding:20px 0;
}
header nav.mobile-menu ul li:hover{
    background-color:#d8e6f0;
}
header nav.mobile-menu ul li a{
    font-size:25px;
    color:#576975;
    text-transform:uppercase;
}


header nav.desktop-menu{
    float:right;
}
header nav.desktop-menu ul{
    text-decoration:none;
    list-style-type:none;
    padding-top:5%;   
}

header nav.desktop-menu ul li{
    float:left;
    padding-left:18px;
    text-transform:uppercase;
    font-size:15px;
}
header nav ul li a{
    text-decoration:none;
}

/*///////    *FIM DO CABEÇALHO          //////////////*/


/*////////////////  INICIO DO MOSAICO  /////////////*/
.mosaico{
    padding:1%;
}
.mosaico-single{
    float:left;
    width:calc(100% / 6);
}

.img-mosaico-single{
    width:100%;
    padding-top:100%;
    background-color:#ccc;
    border:5px solid white;
    background-size:100% 100%;
    background-repeat:no-repeat;
}

/*/////FIM DO MOSAICO//////*/


/*/////INICIO DA SECTION SERVIÇOS //////////*/
section.servicos .container2{
    display:flex;
    
}

section .servicos ,.container-servicos{
    max-width:1200px;
    margin:0 auto;
    padding:0 4%;
    width:100%;
    display:flex;
    align-items:center;
    position:relative;
    top:-90px;
    
}

section.servicos .container-servicos .box-servicos:nth-of-type(1){
    width:25%;
    padding:42px 2%;
    background-color:#576975;
    text-align: center;
}

section.servicos .container-servicos .box-servicos:nth-of-type(2){
    width:50%;
    padding:60px 2%;
    font-size:25px;
    background-color:#688293;
    text-align: center;
    background-image:none;
}

section.servicos .container-servicos .box-servicos:nth-of-type(3){
    width:25%;
    padding:42px 2%;
    background-color:#576975;
    text-align: center;
}

section.servicos .container-servicos .box-servicos h2{
    color:white;
    font-size:19px;
    font-weight:normal;
}

section.servicos .container-servicos .box-servicos p{
    color:white;
    font-size:13px;
    font-weight:normal;
    margin-top:16px;
}

section.servicos .container-servicos .box-servicos {
   background-image:url('../image/icone_dente.png');
   background-size:21px 21px;
   background-repeat:no-repeat;
   background-position:center calc(100% - 13px);
}


section.servicos .container-servicos .box-servicos:nth-of-type(2) h2{
    font-size:35px;
}

section.servicos .container-servicos .box-servicos:nth-of-type(2) p{
    font-size:18px;
}

/*///////FIM DA SECTION SERVIÇOS//////*/

/*////////////// INICIO DO PERFIL-CONTAINER////////*/
section.perfil-container .container2{
    max-width:1300px;
    padding:0px 2%;
    margin:0 auto;
}

section.perfil-container .perfil-wraper{
    padding-top:50%;
    position:relative;
}

section.perfil-container .perfil-wraper2{
    position:absolute;
    left:0;
    top:0;
    display:flex;
    align-items:center;
    width:100%;
    height:100%;
    
}
section.perfil-container .img-perfil{
    width:40%;
    height:100%;
    background-image:url('../image/img_perfil.png');
    background-size:100% 100%;
    background-repeat:no-repeat;   
}

section.perfil-container .texto-perfil{
    width:60%;
    padding:10% 2%;
}

section.perfil-container .texto-perfil h2{
    color:#698293;
    font-size:28px;
    margin-bottom:20px;
}
section.perfil-container .texto-perfil p{
    color:#4b4b4b;
    font-size:20px;
    line-height:20px;
    
}


/*////////////////FIM DO PERFIL-CONTAINER/////////////////*/


/*/////////////////começo DO SESSAO VIDEOS //////////////////////*/

section.videos{
    padding:35px 3%;
    margin-top:160px;
}
section.container-videos{
    width: 100%;
    max-width:900px;
}
section.videos .box-video{
    width:33.3%;
    position:relative;
    float:left;
    padding-top:calc(33.3% * 0.6);
    background:green;
}
section.videos iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:17px solid white;
    background-color:white;
}

/*//////////////////fim da SESSAO VIDEOS//////////////////////*/


/*///////INICIO DA SESSAO TRATAMENTOS*/

section.tratamentos .tratamento-container-full{
    padding:125px 2%;
}

section.tratamentos > h2{
    font-size:29px;
    margin-top:23px;
    text-align:center;
    color:#698293;
}

section.tratamentos .tratamento-container{
    float:left;
    width:33.3%;
    text-align: center;
}
section.tratamentos .tratamento-single{
    padding:20px;
    display: inline-block;
    text-align: left;
}
section.tratamentos .tratamento-single h2{
    font-size:29px;
    color:#737373;
}
section.tratamentos .tratamento-single p{
    font-size:18px;
    color:#737373;
    max-width:300px;
}
/*//////FIM DA SESSAO TRATAMENTOS*/


/*////////////INICIO DA SESSAO DEPOIMENTOS////////////*/
section.depoimentos > h2{
    color:#698293;
    text-align:center;
    font-size:29px;
}


section.depoimentos .container-depoimentos{
    padding:55px 3%;
    text-align:center;
    max-width:750px;
    margin:0 auto;
}
section.depoimentos .container-depoimentos quote{
    font-size:24px;
    color:#959494;

}


section.depoimentos .nome-depoimento{
    padding:40px 0;
}
section.depoimentos .nome-depoimento img{
    width:52px;
    height:52px;
    border-radius:16px;
}
section.depoimentos .nome-depoimento span{
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    position:relative;
    top:10px;
}
/*//////////////FIM DA SESSAO DEPOIMENTOS////////////////*/

/*//////////////////////INICIO DA SESSAO SOCIAL////////////////////*/


.instagram-chamada{
    float:left;
    width:100%;
    text-align:center;
    padding:55px 0;
    background:#98a5ae;
}

.instagram-chamada p{
    font-size:20px;
    line-height:23px;
    padding:10px 0;
    color:white;
}
.mosaico-social{
    float:left;
    width:100%;
}

.img-mosaico-single-social{
    width:calc(100% /9);
    padding-top:calc(100% / 9);
    float:left;
    text-align: center;
    vertical-align:center;
    background-color:rgb(155, 175, 173);
    border:5px solid white;
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.facebook-chamada{
    float:left;
    width:100%;
    text-align:center;
    padding:32px 0;
    background:#576975;
    position:Relative;
    
}
.facebook-chamada img{
    width:calc(15% / 8);
    padding-top:calc(15% / 8); 
}
.facebook-chamada > img,span{
    position:relative;
    top:-14px;
}

.facebook-chamada span{
    display:block;
    font-size:20px;
    line-height:23px;
    padding:10px 0;
    color:white;
}
 

/*/////////////////////////FIM DA SESSAO SOCIAL////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////INICIO DA SESSAO CONTATO/////////////////////////////*/

section.contato{
    width:100%;
    height: auto;
    padding:40px 3%;
}

section.contato > h2{
    color:#698293;
    text-align:center;
    font-size:29px;
}
section .container-contato{
    width:100%;
    padding:40px 3%;
}

section .container-contato form{
    width:100%;
    max-width:430px; 
    margin:0 auto;
}
.form-wraper{
    float:left;
}

.form-wraper span{
    font-size:15px;
    color:#908f8f;
    text-align:center;
    position:relative;
    top:1px;
}
.form-wraper input[type=text],
.form-wraper input[type=email],
.form-wraper input[type=tel]{
    height:35px;
    width:100%;
    line-height: 35px;
    padding-left:9px;
    margin-bottom:20px;
    outline:none;
    border:1px solid #dadada;
}
.form-wraper:nth-of-type(2) span{
    position:relative;
    left:-10px;
}
.form-wraper input[type=email]{
    position:relative;
    left:-10px;
}

.w100{
    width:100%;
}

.w50{
    width:50%;
    padding-left:10px;
}

.form-wraper textarea{
    width:100%;
    height:100px;
    padding-left:9px;
    outline:none;
    border:1px solid #dadada;
    resize:none;
}

.form-wraper input[type=submit]{
    width:140px;
    height:55px;
    background-color:#688293;
    border-radius:10px;
    border:0;
    color:white;
    cursor:pointer;
    margin-top:12px;

}
/*///////////////////////////FIM DA SESSAO CONTATO///////////////////////////////*/

/*////////////////////////////////INICIO DO FOOTER///////////////////////*/

footer{
    padding:40px 10%;
    background-color:#688293;
}

footer .footer-block{
    float:left;
    width:33.3%;
    position:relative;
    left:30px;  
}

.footer-logo{
    width:100%;
    padding:5px 5%;
    background-color:#576975;
    text-align:center;
}
.img-danki{
    width:130px;
    height:50px;
    display: flex;
    align-items:center;
    margin:0 auto;
    background-size:100% 100%;
    background-repeat:no-repeat;
}




/*///////////////////////////////FIM DO FOOTER///////////////////////////////*/


/*/////////////////////////INICIO DAS MIDIAS QUERIES//////////////////*/
@media screen and (max-width: 900px){
    .img-mosaico-single-social{
        width:calc(100% /5);
        padding-top:calc(100% / 5);
    }
    .mosaico-social > div:nth-of-type(1n+6){
        display:none;
    }
}


@media screen and (max-width: 960px){
    section .servicos,.container-servicos{
        max-width:600px;
        flex-direction:column;
    }


        
    section.servicos .container-servicos .box-servicos:nth-of-type(1){
        width:70%;
        padding:50px 2%;
        background-color:#576975;
        text-align: center;
    }

    section.servicos .container-servicos .box-servicos:nth-of-type(2){
        width:95%;
        padding:69px 2%;
        font-size:25px;
        background-color:#688293;
        text-align: center;
        background-image:none;
    }

    section.servicos .container-servicos .box-servicos:nth-of-type(3){
        width:70%;
        padding:50px 2%;
        background-color:#576975;
        text-align: center;
    }
    section .servicos ,.container-servicos{
        max-width:1200px;
        margin:0 auto;
        padding:0 4%;
        width:100%;
        display:flex;
        align-items:center;
        position:relative;
        top:-70px;
        
    }

    
    section.perfil-container .texto-perfil h2{
        color:#698293;
        font-size:33px;
        margin-bottom:20px;
        margin-top:50px;
        text-align:center;
    }
    section.perfil-container .texto-perfil p{
        color:#4b4b4b;
        font-size:19px;
        line-height:19px;
        
    }
    section.perfil-container .perfil-wraper{
        padding:0;
    }

    section.perfil-container .perfil-wraper2{
        display:inline-block;
        text-align:center;
        position:static;
        height:auto;
    }

    section.perfil-container .img-perfil{
        width:70%;
        max-width:550px;
        padding-top:70%;
        height:auto;
        display:inline-block;
        margin:0 auto;
    }

    section.perfil-container .texto-perfil{
        display:inline-block;
        text-align:justify;
        width:100%;
        padding:0 30px;
    }


    section.videos{
        padding:45px 3%;
        text-align:center;
    }
    section.videos .box-video{
        width:80%;
        display:inline-block;
        float:none;
        padding-top:calc(100% * 0.6);
        margin-bottom:70px;
    }
    section.videos iframe{
        position:absolute;
        background-color:white;
        top:0;
        left:0;
        width:100%;
        height:100%;
        border:6px solid white;
    }


}

@media screen and (max-width: 740px){

    html,body{
        overflow-x:hidden;
    }


    header nav.mobile-menu{
        display:inline-block;
        padding-top:13%;
        
    }
       
    header nav.mobile-menu ul{
        text-decoration:none;
        list-style-type:none;
        padding-top:5%;   
    }
    
    header nav.mobile-menu ul li{
        float:left;
        padding-left:18px;
        text-transform:uppercase;
        font-size:15px;
    }
    header nav ul li a{
        text-decoration:none;
    }
    
    header nav.desktop-menu ul{  
        display:none;
    }
      
    section.perfil-container .texto-perfil h2{
        color:#698293;
        font-size:38px;
        margin-bottom:20px;
        margin-top:50px;
        text-align:center;
    } 

    section.videos{
        padding:45px 3%;
        text-align:center;
    }
    section.videos .box-video{
        width:100%;
        display:inline-block;
        float:none;
        padding-top:calc(100% * 0.6);
        margin-bottom:70px;
    }
    section.videos iframe{
        position:absolute;
        background-color:white;
        top:0;
        left:0;
        width:100%;
        height:100%;
        border:6px solid white;
    }

    .social{
        padding:0px 3%;
        overflow-x:hidden;
    }
    .instagram-chamada{
        margin-right:0;
    }

    .img-mosaico-single-social{
        width:calc(100% /3);
        padding-top:calc(100% / 3);
        margin-right:0;
    }
    .mosaico-social > div:nth-of-type(1n+4){
        display:none;
    }

    footer{
        padding:40px 10%;
        background-color:#688293;
    }
    
    footer .footer-block{
        float:left;
        width:33.3%;
        position:relative;
        left:3px;  
    }

    .img-danki{
        position:relative;
        left:24px;
    }
}

@media screen and (max-width: 370px){
    header .logo img{
        width:190px;
    }
    header nav.mobile-menu{
        margin-right:0px;
    }

    section.servicos .container-servicos .box-servicos:nth-of-type(1){
        width:65%;
        padding:17px 2% 42px 2%;

    }
    
    section.servicos .container-servicos .box-servicos:nth-of-type(2){
        width:90%;
        padding:35px 2% 60px 2%;
    }
    
    section.servicos .container-servicos .box-servicos:nth-of-type(3){
        width:65%;
        padding:17px 2% 42px 2%;
    }

    section .servicos ,.container-servicos{
        max-width:1200px;
        margin:0 auto;
        padding:0 4%;
        width:100%;
        display:flex;
        align-items:center;
        position:relative;
        top:-30px;
        
    }

    section.videos{
        margin-top:60px;
    }
    
    section.tratamentos .tratamento-container-full{
        padding:85px 2%;
    }
    
    footer{
        padding:40px 2%;
        background-color:#688293;
    }
    footer p{
        font-size:12px;
    }
}
/*/////////FIM DAS MIDIAS QUERIES*/