*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html,body{
    height:100%;
}

.btn{
    width:80;
    max-width:300px;
    height:100px;
    color:white;
    font-size: 24px;
    line-height:100px;
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
    cursor:pointer;
    background-color:#69a4d3;
    border-radius:23px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translateY(-50%);
    transform:translateX(-50%);
}

.bg{
    display:none;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1;
    background-color:rgba(0,0,0,0.6);
}

.form{
    background-color:white;
    max-width:600px;
    padding:70px 2%;
    padding-top:5%;
    min-height: 300px;
    width:94%;
    text-align:center;
    border:4px solid rgb(210,210,210);
    position:absolute;
    left:50%;
    top:25%;
    transform:translateY(-50%);
    transform:translateX(-50%);

}

.form input[type=text]{
    width:100%;
    height:48px;
    line-height:48px;
    padding-left: 8px;
    border:1px solid #ccc;
    margin-bottom:40px;
}
.form input[type=submit]{
        width:100%;
        max-width:300px;
        height:50px;
        color:white;
        font-size: 19px;
        line-height:50px;
        text-align:center;
        text-transform:uppercase;
        font-weight:bold;
        cursor:pointer;
        background-color:#69a4d3;
        border-radius:23px;
        display:inline-block;
        border:0;
}

.closebtn{
    width:40px;
    height:40px;
    border-radius: 20px;
    background-color: rgb(190,190,190);
    color: #444;
    position:absolute;
    top:-4%;
    left:96%;
    text-align:center;
    line-height:40px;
    cursor:pointer;
    font-weight:bold;
}

